#header {
    width: 100%;
    text-align: center;
    position: fixed;
    z-index: 99999;
}

#sidebar-left {
    display: block;
    height: 100%;
}

#main {
    text-align: center;
    margin-top: 70px;
    width: 100%;
    float: left;
    margin-bottom: 50px;
    height: 100%;
    position: relative;
}

#footer {
    clear: both;
    height: 50px;
    width: 100%;
    text-align: center;
}


@media screen and (min-width: 320px) and (max-width: 600px) { 
    #main {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
