
.header-button-group, .body-button-group {
    float: left;
    width: 100%;
    height: auto;
    display: block;
    text-align: center;
    overflow: hidden;
}
.highlight{
  color: red;
  font-weight:bold;
}

.highlights{
  color: green;
  font-weight:bold;
}
.header-button-group h2, .body-button-group h2{
    font-size: 20px;
    color: #2b2b2b;
    text-transform: uppercase;
    padding: 8px 0;
}
.modal-header {
  border-bottom: none;
  text-align: center;
}
.top_logo{
  width: 100%;
}



.form-box {
padding-top: -20px;

}


.form-wizard {
/*padding: 25px; */
background: #fff;
-moz-border-radius: 4px; 
-webkit-border-radius: 4px; 
border-radius: 4px; 
font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight: 30;
color: #888;
text-align: center;
/* height:540px;overflow-y:auto */

}



/** Form Body Classic **/

.form-body-classic .form-control {
height: 44px;
margin: 0;
padding: 0 20px;
background: #f8f8f8 none repeat scroll 0 0;
border: 1px solid #eee;
border-radius: 0px;
font-family: 'Roboto', FontAwesome;
font-size: 16px;
font-weight: 300;
line-height: 44px;
color: #333;
-moz-border-radius: none; -webkit-border-radius: none; border-radius: none;
-moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

.form-body-classic .form-control:focus {
outline: 0;
background: #f8f8f8 none repeat scroll 0 0;
border: 1px solid #eee;
-moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

.form-body-classic.form-wizard .btn {
min-width: 105px;
height: 40px;
margin: 0;
padding: 0 20px;
border: 2px solid #ccc;
font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight: 300;
line-height: 40px;
color: #fff;
-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
text-shadow: none;
-moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

/** Form Body Classic **/



/** Form Body Stylist **/

.form-body-stylist .form-control {
height: 35px;
margin: 0;
padding: 0 10px;
background: #e1e1e1; /* Old browsers */
background: -moz-linear-gradient(top, #e1e1e1 0%, #f1f1f1 50%, #e1e1e1 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #e1e1e1 0%,#f1f1f1 50%,#e1e1e1 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #e1e1e1 0%,#f1f1f1 50%,#e1e1e1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1e1e1', endColorstr='#e1e1e1',GradientType=0 ); /* IE6-9 */
border: 1px solid #ddd;
font-family: 'Roboto', FontAwesome;
font-size: 16px;
font-weight: 200;
line-height: 40px;
color: #888;
-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
-moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;

}
.form-body-stylist .form-control:visited, .form-body-stylist .form-control:active {
    background-color:rgb(232, 240, 254);
  }
.form-body-stylist .form-control:focus, .form-body-stylist .form-control:focus-within {
outline: 0;
background: rgb(232, 240, 254);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1e1e1', endColorstr='#e1e1e1',GradientType=0 ); /* IE6-9 */
border: 1px solid #ccc;
-moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

.form-body-stylist.form-wizard .btn {
margin: 0;
padding: 3px 15px;
border: 2px solid #ccc;
font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight: 300;
line-height: 40px;
color: #fff;
-moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 25px;
text-shadow: none;
-moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;

}

/** Form Body Stylist **/



/** Form Body Material **/

.form-body-material .form-control {
height: 44px;
margin: 0;
padding: 0 20px;
background: #f8f8f8 none repeat scroll 0 0;
border: 0px;
border-bottom: 2px solid #ddd;
font-family: 'Roboto', FontAwesome;
font-size: 16px;
font-weight: 300;
line-height: 44px;
color: #888;
-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
-moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

.form-body-material .form-control:focus {
outline: 0;
background: #f8f8f8 none repeat scroll 0 0;
border: 0px;
border-bottom: 2px solid #0f57a3;
-moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

.form-body-material.form-wizard .btn {
min-width: 105px;
height: 40px;
margin: 0;
padding: 0 20px;
border: 2px solid #ccc;
font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight: 300;
line-height: 40px;
color: #fff;
-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
text-shadow: none;
-moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

/** Form Body Material **/




/** Form header Classic **/

.form-header-classic .form-wizard-step-icon {
display: inline-block;
width: 40px; 
height: 40px; 
margin-top: 4px; 
background: #ddd;
font-size: 16px; 
color: #fff; 
line-height: 40px;
-moz-border-radius: 50%; 
-webkit-border-radius: 50%; 
border-radius: 50%;
}
.form-header-classic .form-wizard-step.activated .form-wizard-step-icon {
background: #fff; 
border: 1px solid #0f57a3; 
color: #0f57a3; 
line-height: 38px;
}
.form-header-classic .form-wizard-step.active .form-wizard-step-icon {
width: 48px; 
height: 48px; 
margin-top: 0; 
background: #d23431; 
font-size: 22px; 
line-height: 48px;
}

.form-header-classic .form-wizard-step p { color: #ccc; }
.form-header-classic .form-wizard-step.activated p { color: #0f57a3; }
.form-header-classic .form-wizard-step.active p { color: #0f57a3; }

/** Form header Classic **/



/** Form header Modarn **/

.form-header-modarn .form-wizard-step{
padding-top:10px !important;
border:2px solid #fff;
background:#ccc;
}
.form-header-modarn .form-wizard-step.active{
background:#0f57a3;
}
.form-header-modarn .form-wizard-step.activated{
background:#0f57a3;
}
.form-header-modarn .form-wizard-progress { 
height: 0px; 
display:none;
}
.form-header-modarn .form-wizard-step-icon {
display: inline-block;
width: 40px; 
height: 40px; 
margin-top: 4px; 
background: #ddd;
font-size: 16px; 
color: #777; 
line-height: 40px;
-moz-border-radius: 50%; 
-webkit-border-radius: 50%; 
border-radius: 50%;
}
.form-header-modarn .form-wizard-step.activated .form-wizard-step-icon {
background: #0f57a3; 
border: 1px solid #fff; 
color: #fff; 
line-height: 38px;
}
.form-header-modarn .form-wizard-step.active .form-wizard-step-icon {
background: #fff; 
border: 1px solid #fff; 
color: #0f57a3; 
line-height: 38px;
}
.radio-inline {
  padding-left: 0;
}
.form-header-modarn .form-wizard-step p { color: #fff; }
.form-header-modarn .form-wizard-step.activated p { color: #fff; }
.form-header-modarn .form-wizard-step.active p { color: #fff; }

/** Form header Modarn **/



/** Form header Stylist **/

.form-header-stylist .form-wizard-step{
position:relative;
padding-top:10px !important;
border:0px solid #fff;
background:#ccc;
}
.form-header-stylist .form-wizard-step::before {
content: '';
position: absolute;
left: 0%;
top: -2%;
width: 0;
height: 0;
border-top: 50px solid transparent;
border-bottom: 50px solid transparent;
border-left: 20px solid #ccc;
clear: both;
z-index: 999;
}
.form-header-stylist .form-wizard-step.active::after {
content: '';
position: absolute;
right: -20px;
top: -2%;
width: 0;
height: 0;
border-top: 50px solid transparent;
border-bottom: 50px solid transparent;
border-left: 20px solid #0f57a3;
clear: both;
z-index: 9999;
}
.form-header-stylist .form-wizard-step.activated::after {
content: '';
position: absolute;
right: -20px;
top: -2%;
width: 0;
height: 0;
border-top: 50px solid transparent;
border-bottom: 50px solid transparent;
border-left: 20px solid #0f57a3;
clear: both;
z-index: 9999;
}
.form-header-stylist .form-wizard-step.active{
background:#0f57a3;
}
.form-header-stylist .form-wizard-step.activated{
background:#0f57a3;
}
.form-header-stylist .form-wizard-progress { 
height: 0px; 
display:none;
}
.modal-body .btn{
  color: green;
}
.form-header-stylist .form-wizard-step-icon {
display: inline-block;
width: 40px; 
height: 40px; 
margin-top: 4px; 
background: #ddd;
font-size: 16px; 
color: #777; 
line-height: 40px;
-moz-border-radius: 50%; 
-webkit-border-radius: 50%; 
border-radius: 50%;
}
.form-header-stylist .form-wizard-step.activated .form-wizard-step-icon {
background: #0f57a3; 
border: 1px solid #fff; 
color: #fff; 
line-height: 38px;
}
.form-header-stylist .form-wizard-step.active .form-wizard-step-icon {
background: #fff; 
border: 1px solid #fff; 
color: #0f57a3; 
line-height: 38px;
}

.form-header-stylist .form-wizard-step p { color: #fff; }
.form-header-stylist .form-wizard-step.activated p { color: #fff; }
.form-header-stylist .form-wizard-step.active p { color: #fff; }

/** Form header Stylist **/





.form-wizard strong { font-weight: 500; }

.form-wizard a, .form-wizard a:hover, .form-wizard a:focus {
color: #0f57a3;
text-decoration: none;
}

.form-wizard h1, .form-wizard h2 {
margin-top: 10px;
font-size: 38px;
font-weight: 100;
color: #555;
line-height: 50px;
}

.form-wizard h3 {
font-size: 25px;
font-weight: 300;
color: #0f57a3;
line-height: 30px;
margin-top: 0; 
margin-bottom: 5px; 
text-transform: uppercase; 
}

.form-wizard h4 {
float:left;
font-size: 20px;
font-weight: 300;
color: #0f57a3;
line-height: 26px;
width:100%;
}
.form-wizard h4  span{
float:right;
font-size: 18px;
font-weight: 300;
color: #555;
line-height: 26px;
}

.form-wizard table tr th{font-weight:normal;}

.form-wizard img { max-width: 100%; }

.form-wizard ::-moz-selection { background: #0f57a3; color: #fff; text-shadow: none; }
.form-wizard ::selection { background: #0f57a3; color: #fff; text-shadow: none; }

.checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"], .radio input[type="radio"], .radio-inline input[type="radio"] {
position: absolute;
margin-top: 9px;
margin-left: -20px;
}

.form-control option:hover, .form-control option:checked  {
box-shadow: 0 0 10px 100px #0f57a3 inset;
}

.form-control:-moz-placeholder { color: #888; }
.form-control:-ms-input-placeholder { color: #888; }
.form-control::-webkit-input-placeholder { color: #888; }

.form-wizard label { font-weight: 300; }
.here_text { color:#0f57a3; }

/* .form-wizard .btn:hover {
background:#f34727; 
color: #fff; 
} */

.form-wizard .btn:focus,
.form-wizard .btn:active:focus,
.form-wizard .btn.active:focus { 
outline: 0;  
}

.form-wizard .btn.btn-next,
.form-wizard .btn.btn-next:focus,
.form-wizard .btn.btn-next:active:focus, 
.form-wizard .btn.btn-next.active:focus { 
background: #0f57a3; 
}
.form-wizard .btn.btn-previous,
.form-wizard .btn.btn-previous:focus,
.form-wizard .btn.btn-previous:active:focus, 
.form-wizard .btn.btn-previous.active:focus { 
background: #0f57a3; 
}
.form-wizard .btn.btn-submit,
.form-wizard .btn.btn-submit:focus,
.form-wizard .btn.btn-submit:active:focus, 
.form-wizard .btn.btn-submit.active:focus { 
background: #0f57a3; 
}

.form-wizard-interested-buttons{
    display: inline-block;
    text-align: center;
    position: absolute;
    right: 0;
}
.tap_product_details{
color: black !important;
font-size: 12px;
/* margin-left: 20px; */

}
.tap_product_detailss{
  color: black !important;
  font-size: 12px;
  /* margin-left: 20px; */
  
  }
.radio_buttons input{
    height: 20px;
    width: 30px;
    margin-top: 1px !important;
    margin-left: -27px !important;

}
.tap_product_details a{
    color: blue;
     
}

.form-wizard-button{
    position: relative;
}
.form--wizard-previous-button{
    display: inline-block;
    text-align: left;
}
.form-wizard .btn.btn-x{
    background: green !important;
    width: unset !important;
    
}
.form-wizard .btn.btn-y { 
    background: red;
    width: unset !important;
    }
    .form-wizard .btn.btn-z { 
      background: green;
      text-align: left;
      }
      .form--wizard-previous-button .btn.btn-previous {
        width: unset !important;
      }
      .form-wizard .btn.btn-z :disabled { 
        background: grey;
        text-align: left;
        }
  


.question_text {
    width:90%;
    display: block;
}
.form-wizard .success h3{
color: #0f57a3;
text-align: center;
margin: 20px auto !important;
}
.form-wizard .success .success-icon {
color: #0f57a3;
font-size: 100px;
border: 5px solid #0f57a3;
border-radius: 100px;
text-align: center !important;
width: 110px;
margin: 25px auto;
}
.form-wizard .progress-bar {
background-color: #1156a3;
}
.progress-bar-striped, .progress-striped .progress-bar {

background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
}

.form-wizard-steps{ 
margin:auto; 
overflow: hidden; 
position: relative; 
margin-top: 20px;
}

.form-wizard-progress { 
position: absolute; 
top: 24px; 
left: 0; 
width: 100%; 
height: 1px; 
background: #ddd;
}
.form-wizard-progress-line { 
position: absolute; 
top: 0; 
left: 0; 
height: 1px; 
background: #d23431; 
}

.form-wizard-tolal-steps-2 .form-wizard-step { 
position: relative;
float: left;
width: 50%;
padding: 0 5px;
}
.form-wizard-tolal-steps-3 .form-wizard-step { 
position: relative;
float: left; 
width: 33.33%; 
padding: 0 5px; 
}
.form-wizard-tolal-steps-4 .form-wizard-step { 
position: relative; 
float: left; 
width: 25%; 
padding: 0 5px; 
}
.form-wizard-tolal-steps-5 .form-wizard-step { 
position: relative;
float: left;
width: 20%;
padding: 0 5px;
}
.form-wizard-tolal-steps-6 .form-wizard-step { 
position: relative;
float: left;
width: 16.66%;
padding: 0 5px;
}
.form-wizard-tolal-steps-7 .form-wizard-step { 
position: relative;
float: left;
width: 14.285%;
padding: 0 5px;
}

.form-wizard fieldset { 
display: none; 
text-align: left; 
border:0px !important
}

.form-wizard-buttons { text-align: right; }

.form-wizard .input-error { border-color: #0f57a3;}

/** image uploader **/
.image-upload a[data-action] {
cursor: pointer;
color: #555;
font-size: 18px;
line-height: 24px;
transition: color 0.2s;
}
.image-upload a[data-action] i {
width: 1.25em;
text-align: center;
}
.image-upload a[data-action]:hover {
color: #0f57a3;
}
.image-upload a[data-action].disabled {
opacity: 0.35;
cursor: default;
}
.image-upload a[data-action].disabled:hover {
color: #555;
}
.settings_wrap{
margin-top:20px;
}
.image_picker .settings_wrap {
overflow: hidden;
position: relative;
}
.image_picker .settings_wrap .drop_target,
.image_picker .settings_wrap .settings_actions {
float: left;
}
.image_picker .settings_wrap .drop_target {
margin-right: 18px;
}
.image_picker .settings_wrap .settings_actions {
float: left;
margin-top: 100px;
margin-left: 20px;
}
.settings_actions.vertical a {
display: block;
}
.drop_target {
position: relative;
cursor: pointer;
transition: all 0.2s;
width: 250px;
height: 250px;
background: #f2f2f2;
border-radius: 100%;
margin: 0 auto 25px auto;
overflow: hidden;
border: 8px solid #E0E0E0;
}
.drop_target input[type="file"] {
visibility: hidden;
}
.drop_target::before {
content: 'Drop Hear';
font-family: FontAwesome;
position: absolute;
display: block;
width: 100%;
line-height: 220px;
text-align: center;
font-size: 40px;
color: rgba(0, 0, 0, 0.3);
transition: color 0.2s;
}
.drop_target:hover,
.drop_target.dropping {
background: #f80;
border-top-color: #cc6d00;
}
.drop_target:hover:before,
.drop_target.dropping:before {
color: rgba(0, 0, 0, 0.6);
}
.drop_target .image_preview {
width: 100%;
height: 100%;
background: no-repeat center;
background-size: contain;
position: relative;
z-index: 2;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 15px;
  }
form {
padding: 25px;
padding-top: 0;
padding-bottom: 10px;
}
.logo_section {
background-image: url('https://anmagentdetails.s3.ap-south-1.amazonaws.com/background_strip.jpeg');
background-size: cover;
background-repeat: no-repeat;
background-position-y: top;
color: #fff;
height: 90px;
position: relative;

}
.tollFreeNumber {
  background-color: #6e5082;
  color: #fff;
}
.logo_section p {
margin: 0;
position: absolute;
transform: translate(-50%,-50%);
left: 60%;
top: 50%;
}
.logo_section img {
background: #fff;
width: 28%;
height: 60px;
float: left;
margin-left: 20px;
margin-top: 15px;
}
.fa.fa-info-circle {
    font-size: 20px;
    margin-top: 9px;
}
.form-wizard .credit_score {
    height: 25px;
    width: 25px;
}
.form-group {
    position: relative;
}
.switch {
  position: absolute;
  display: inline-block;
  width: 60px !important;
  height: 25px;
  top: 0;
  right: 0;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:#959799;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 2.7px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color:#346fb1;
}

input:focus + .slider {
  box-shadow: 0 0 1px #346fb1;
}

input:checked + .slider:before {
  -webkit-transform: translateX(30px);
  -ms-transform: translateX(30px);
  transform: translateX(30px);
}

/*------ ADDED CSS ---------*/
.on
{
  display: none;
}

.on
{
  color: white;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 35%;
  font-size: 10px;
  font-family: Verdana, sans-serif;
  padding: 7px 25px;
}
.off
{
  color: white;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 60%;
  font-size: 10px;
  font-family: Verdana, sans-serif;
  padding: 7px 25px;
}

input:checked+ .slider .on
{display: block;}

input:checked + .slider .off
{display: none;}

/*--------- END --------*/

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.closed{
  background: #0f57a3;
}
#emiAmt .rateOfInterst {
  font-size: 18px;
}
.business_vintage input {
    width: 10%;
}
#emiAmt {
  font-size: 25px;
}
.loadWrapper {  
  background: rgba(0,0,0,0.3);  
  width: 100%;  
  height: 100%;  
  position: fixed;  
  top:0px;  
  left:0px;  
  z-index: 999999999;  
}  
.loader {
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #3d3e3f; /* gray */
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}
input[type=checkbox], input[type=radio] {
  margin: 4px 5px 2px ;
}
.tooglebtn label{
  width: 70%;
}
.dateBtn #date { 
  float: right;
}
.textBtn #placeHolder1, .textBtn #placeHolder2 {
  border: 1px solid #897979;
  margin: 0px 8px; 
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
input[type=text] {
  text-transform: uppercase;
}
.languageSelectDiv {
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: right;
  font-size: 12px;
}
.languageSelect {
  padding: 1px 11px;
  margin: 0 10px;
  font-size: 12px;
}
#my-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 99999;
}

@media screen and (min-width: 320px) and (max-width: 600px) { 
    form {
        padding: 6px;
    }
    .form-body-stylist.form-wizard .btn {
      padding: 2px 14px;
      
      font-size: 14px;
      line-height: 30px;
    }
   
    .form-wizard-interested-buttons .btn {
      padding: 3px 8px !important;
    }
    
}
@media screen and (min-width: 320px) and (max-width: 1200px) { 
  .radioBtn label {
    width: 100%;
    
  }
 
 }
 @media screen and (min-width: 320px) and (max-width: 374px) {  
  .dateBtn #date {
    float: unset;
    margin-left: 15%;
  }
 }













 